list-keep:
  image:
    repository: ghcr.io/vanbv/list-keep
    tag: latest
    pullPolicy: Always
  enabled: true
  service:
    port: 8082
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: prod
    - name: POSTGRES_PASSWORD
      valueFrom:
        secretKeyRef:
          name: list-keep-db
          key: postgres-password
list-keep-front:
  image:
    repository: ghcr.io/vanbv/list-keep-front
    tag: latest
    pullPolicy: Always
  enabled: true
  service:
    port: 8080
  route:
    enabled: true
keycloak:
  enabled: true
  keycloak:
    proxyHeaders: "forwarded"
  route:
    enabled: true
postgres:
  enabled: true
  nameOverride: db
